/*START VARIABLES*/
:root {
    --main-color: #19c8fa;
    --paragraph-color: #777;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/*END VARIABLES*/
/*START GLOBAL RULES */
html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Small Width*/
@media(min-width :768px) {
    .container {
        width: 750px;
    }
}
/*Medium Width*/
@media(min-width :992px) {
    .container {
        width: 970px;
    }
}
/*Large Width*/
@media(min-width :1200px) {
    .container {
        width: 1170px;
    }
}
/* END GLOBAL RULES */
/*START COMPONENT*/
.main-heading {
    padding: 50px 100px;
    text-align: center;

}
    .main-heading h2 {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight:normal;
        position:relative;
        padding:10px 0;
        letter-spacing:0.5px;
        text-transform:uppercase;
    }
        .main-heading h2::before {
            content: "";
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            height: 2px;
            width: 120px;
            background-color: #333;
            bottom: -20px;
        }
        .main-heading h2::after {
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            bottom: -25px;
            border: 2px solid #333;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
        }
.main-heading p {
    width:500px;
    margin:0 auto 20px;
    color:var(--paragraph-color);

}
    /*END COMPONENT*/
    /*START HEADER SECTION*/
    header {
        position: absolute;
        padding-top: 20px;
        width: 100%;
        left: 0;
        z-index: 2;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
        min-height:56.9px;
    }
        header .container::after {
            content:"";
            position:absolute;
            height:1px;
            width:calc(100% - 30px);
            background-color:#a2a2a2;
            bottom:0;
            left:15px;
            
        }
    header .logo img {
        padding-bottom: 10px;
        height: 50px;
    }
    header nav .tounge-menu {
        font-size:20px;
        color:white;
    }
@media (min-width:981px) {
    header nav .tounge-menu {
       display:none;
    }
}
    header nav  {
        flex:1;
        display:flex;
        align-items:center;
        justify-content:flex-end;
    }
        header nav ul {
            display: flex;
            list-style-type: none;
        }
@media(max-width: 980px) {
    header nav ul {
        display: none;
        list-style-type: none;
    }
}
header nav .tounge-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color:rgb(0 0 0 / 50%);
}
header nav ul li a {
    padding: 40px 10px;
    display: block;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    z-index: 2;
}
header nav .tounge-menu:hover + ul li a {
    padding:15px;
}
                header nav ul li a.active, header nav ul li a:hover {
                    color: var(--main-color);
                    border-bottom: 1px solid var(--main-color);
                }
    header nav .form {
        width:40px;
        height:20px;
        border-left:1px solid white;
        position:relative;
    }
        header nav .form i {
            position:absolute;
            font-size:14px;
            padding:0px 10px;
            color:white ;
            top:50%;
            right:0;
            transform:translateY(-50%);
        }

/*END HEADER SECTION*/

/*START LANDING SECTION*/
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("./Images/landing.jpg");
    background-size: cover;
    position: relative;
}
    .landing .overlay {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 60%);
        height: 100%;
        width: 100%;
    }
    .landing .text {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--transparent-color);
        color: white;
        display: flex;
        justify-content: flex-end;
        padding: 50px 50px;
        width:60%;
    }
        .landing .text .content {
            max-width:500px;
        }
@media(max-width: 980px) {
    .landing .text {
        width:100%;
    }
        .landing .text .content {
            width:100%;
        }
}
        .landing .text .content h2 {
            font-size:32px;
            font-weight:normal;
            line-height:1.5;
            margin-bottom:20px;
            text-transform:uppercase;
        }
        .landing .text .content p {
            font-size:14px;
            line-height:2;
        }
    .landing .change_background {
        position:absolute;
        color:white;
        top:50%;
        transform:translateY(-50%);

    }
@media(max-width: 980px) {
    .landing .change_background {
        display:none;
    }

        .landing .text .content {
            width: 100%;
        }
}
        .landing .fa-angle-left {
            left:30px;
        }
        .landing .fa-angle-right {
            right:30px;
        }
    .landing .bullets {
        left:50%;
        transform:translateX(-50%);
        position:absolute;
        display:flex;
        bottom:30px;
        list-style-type:none;
    }
        .landing .bullets li {
            width: 15px;
            height: 15px;
            border: 1px solid white;
            border-radius: 50%;
            margin-right: 5px ;
        }
        
    .landing .bullets li.active{
        background-color:var(--main-color);
        border-color:var(--main-color);
    }

/*END LANDING SECTION*/

/*START SERVICES SECTION*/
.services {
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
}
@media(min-width: 981px) {
    .services .serv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }
}
    .services .serv-box {
        display: flex;        
    }

        .services .serv-box i {
            margin-right:60px;
            color:var(--paragraph-color);
        }
@media (max-width: 980px) {
    .services .serv-box {
        display:flex;
        flex-direction:column;
        text-align :center;
        margin-bottom:40px;
    }
        .services .serv-box i {
            margin:0 0 30px;
        }
} 
.services .serv-box h3 {
    margin-bottom:20px;
    color:var(--main-color);
}
    .services .serv-box p {
        color:var(--paragraph-color);
        line-height:2;
    }
    /*END SERVICES SECTION*/

    /*START DESIGN SECTION*/
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    display: flex;
    position: relative;
    margin: auto;
    background-image: url("./Images/design-features.jpg");
    background-size:cover;
    align-items:center;
    overflow:hidden;
}
    .design:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 60%);
        height: 100%;
        width: 100%;
    }
    .design .image,
    .design .text {
        position: relative;
        z-index: 2;
        flex:1;
    }
    .design .image {
        text-align:center;
        bottom: -150px;
        
    }
@media (max-width: 980px) {
    .design .image {
        display:none;
    }
} 
.design .text {
    background-color:var(--transparent-color);
    color:white;
    padding:50px 0 50px 50px;
}
        .design .text h2{
            font-weight:normal;
            padding-bottom:50px;
            text-transform:uppercase;
        }
        .design .text li {
            list-style-type: none;
            padding-bottom:15px;
        }
            .design .text li::before {
                font-family: "Font Awesome 5 Free";
                content: "\f108";
                font-weight: 900;
                margin-right: 15px;
                position: relative;
                top: 1px;
            }
    
    /*END DESIGN SECTION*/


    /*START PORTFOLIO SECTION*/
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
    .portfolio .shuffle {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
        .portfolio .shuffle li {
            padding: 10px;
            
        }
            .portfolio .shuffle .active {
                background-color: var(--main-color);
                color: white;
            }
    .portfolio .image-container {
        display:flex;
        flex-wrap:wrap;
        margin-top:60px;
    }
    .portfolio .image-container .box {
        position:relative;
        overflow:hidden;
    }
        .portfolio .image-container .box:hover .caption {
            bottom:0;
        }
        .portfolio .image-container .box:hover img {
            transform:rotate(3deg) scale(1.1);
        }
@media(min-width:981px) {
    .portfolio .image-container .box {
        flex-basis:50%;
    }
}
@media(min-width:1200px) {
    .portfolio .image-container .box {
        flex-basis: 25%;
    }
}
    .portfolio .image-container .box img{
        max-width:100%;
        transition:0.7s;
    }
.portfolio .image-container .box .caption {
    position:absolute;
    left : 0 ;
    bottom:-100;
    transition:0.7s;
    background-color:white;
    width:100%;
    padding:20px;
}
    .portfolio .image-container .box .caption h4 {
        font-weight:bold;
        margin-bottom:10px;
    }
    .portfolio .image-container .box .caption p {
        color:var(--main-color);
    }
.portfolio .more {
    background-color:var(--main-color);
    color:white;
    text-transform:uppercase;
    margin :50px auto 0 auto;
    padding:10px 40px;
    display:block;
    width:fit-content;
    text-decoration:none;
    transition:0.7s;
}
.portfolio .more:hover {
    opacity:0.7;
    letter-spacing:1px;
}

    /*END PORTFOLIO SECTION*/

    /*START VEDIO SECTION*/
.vedio {
    position:relative;
}
    .vedio::before {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 60%);
        height: 100%;
        width: 100%;
    }
    .vedio video {
        width:100%;
        
    }
    .vedio .text {
        position:absolute;
        left:0;
        top:50%;
        transform:translateX(-50%);
        transform:translateY(-50%);
        background-color:var(--transparent-color);
        width:100%;
        text-align:center;
        padding: 40px 0;
    }
    .vedio .text h2 {
        color:white;
        margin-bottom:30px;
        text-transform:uppercase;
        font-weight:normal;
    }
        .vedio .text p {
            margin-bottom: 50px;
            color:white;

        }
        .vedio .text a {
            background-color:rgb(0 0 0 / 80%);
            text-decoration:none;
            text-transform: uppercase;
            transition:0.7s;
            padding:5px 30px;
            color:white;
        }
            .vedio .text a:hover {
                letter-spacing: 1px;
            }


    /*END VEDIO SECTION*/

    /*START ABOUT SECTION*/
.about {
    padding-top: var(--section-padding);
    overflow:hidden;
    text-align :center;
}

    .about img{
        position:relative;
        max-width:100%;
        bottom:-120px;
        margin-top:-120px;      
    }
        

    
    /*END ABOUT SECTION*/

    /*START STATISTIC SECTION*/
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    position: relative;
    background-image: url("./Images/stats.png");
    background-size: cover;
}
    .stats::before {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 70%);
        height: 100%;
        width: 100%;
    }
    .stats .container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background-color: var(--transparent-color);
    }
        .stats .container .box {
            color:white;
            padding: 50px;    
        }
@media(max-width:980px) {
    .stats .container .box {
        flex-basis:100%;
    }
}
@media(min-width:981px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media(min-width:1200px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
    .stats .container .box i{
        background-color:black;
        justify-content:center;
        align-items:center;
        border-radius:50%;
        padding:10px;
        margin-bottom:10px;
    }
        .stats .container .box .number {
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 10px;
        }
        .stats .container .box p {
            font-size:12px;
        }
    /*END STATISTIC SECTION*/

    /*START SKILLS SECTION*/
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
    .skills .container {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }
@media(min-width:981px) {
    .skills .container > div{
        flex-basis:45%;
    }
}
.skills .container > div > h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.skills .container > div > p {
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
    color: var(--paragraph-color);
}
.skills .testimonials .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
    .skills .testimonials .content img {
        width: 100px;
        height: 100px;
        margin-right: 50px;
        border-radius: 50%;
    }
@media(max-width:980px) {
    .skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }
        .skills .testimonials .content img {
            margin: 0 auto 20px;
            
        }
}
.skills .content .text {
    border-bottom:2px solid #a2a2a2;
}
    .skills .content .text p{
        text-align:right;
        color:var(--paragraph-color);
        margin-bottom:10px;
    }
.skills .container .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    list-style-type:none;
}

    .skills .container .testimonials .bullets li {
        width: 14px;
        height: 14px;
        border: 1px solid #aaa;
        border-radius: 50%;
        margin-right: 10px;
    }

    .skills .container .testimonials .bullets li.active {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }

.skills .our-skills .prog-holder {
    
}
.skills .our-skills .prog-holder h4{
    text-transform:uppercase;
    margin-bottom:10px;
}
    .skills .our-skills .prog-holder .prog {
        background-color: #d2d0cb;
        height: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
        .skills .our-skills .prog-holder .prog span {
            display:block;
            position:relative;
            background-color:var(--main-color);
            height:100%;

        }
            .skills .our-skills .prog-holder .prog span::before {
                content: attr(data-progress);
                background-color:black;
                color:white;
                padding:5px;
                text-align:center;
                border-radius:5px;
                position:absolute;
                top:-40px;
                right:-18px;
            }
            .skills .our-skills .prog-holder .prog span::after {
                content: "";
                border-width: 8px;
                border-style: solid;
                border-color: black transparent transparent transparent;
                position: absolute;
                top: -12px;
                right: -6px;
            }
    /*END SKILLS SECTION*/

    /*START QUOTE SECTION*/
.quote {
    background-image: url("./Images/quote.jpg");
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    text-align:center;
    color:white;
}
    .quote::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 70%);
        height: 100%;
        width: 100%;
    }
    .quote .container {
        position:relative;
        
    }
        .quote .container q {
            font-size: 30px;
            margin-bottom: 20px;
            display: block;
            text-transform:uppercase;
            line-height:1.5;
        }
            .quote .container q::before {
                content:"";
                font-family: "Font Awesome 5 Free";
                content: "\f10d";
                font-size:8px;
                font-weight: 600;
                position:relative;
                top:-15px;
            }
            .quote .container q::after {
                content: "";
                font-family: "Font Awesome 5 Free";
                content: "\f10e";
                font-size: 8px;
                font-weight: 600;
                position: relative;
                top: -15px;
            }

    /*END QUOTE SECTION*/

    /*START PRICING SECTION*/
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
    .pricing .container .pricing-container {
        display: flex;
        justify-content:center;
        text-align: center;
        margin: 30px 0;
    }
@media(max-width:980px) {
    .pricing .container .pricing-container {
        flex-direction:column;
    }
}
        .pricing .container .pricing-container .box {
            padding: 20px 20px;
        }
            .pricing .container .pricing-container .box .head {
                border-bottom: 2px solid var(--main-color);
                border-top: 2px solid var(--main-color);
                width: 200px;
            }
@media(max-width:980px) {
    .pricing .container .pricing-container .box .head {
        margin:0 auto;
    }
}
            .pricing .container .pricing-container .box .head h6 {
                font-weight: normal;
                font-size: 15px;
                margin-top:30px;
                margin-bottom:15px;
                text-transform: uppercase;
            }
                .pricing .container .pricing-container .box .head h2 {
                    margin-bottom:30px;
                    font-size:55px;
                    
                }
                    .pricing .container .pricing-container .box .head h2::before {
                        content: "";
                        font-family: "Font Awesome 5 Free";
                        content: "\24";
                        font-size: 15px;
                        font-weight: 600;
                        position: relative;
                        top: -30px;
                        left: -10px;
                    }
                    .pricing .container .pricing-container .box .head h2::after {
                        content: "/MO";
                        font-size: 10px;
                        font-weight: normal;
                        position: relative;
                        top: 10px;
                        
                    }
            .pricing .container .pricing-container .box p {
                margin: 40px auto;
                border-bottom: 2px solid var(--main-color);
                padding-bottom: 20px;
                width: 100px;
                color: var(--paragraph-color);
            }
            .pricing .container .pricing-container .box .buy a {
                background-color: white;
                border:1px solid var(--main-color);
                width: fit-content;
                margin: auto;
                padding: 8px 25px;
                text-decoration: none;
                color: var(--paragraph-color);
                transition: 0.7s;
                border-radius: 2px;
            }
            .pricing .container .pricing-container .box .buy a:hover {
                background-color:#eeeeee;
                letter-spacing:1px;
            }
            .pricing .container .pricing-footer {
                display:flex;
                flex-direction:column;
                text-align:center;
            }
    .pricing .container .pricing-footer p{
        margin:30px 0;
        color:var(--paragraph-color);
    }
                .pricing .container .pricing-footer a {
                    background-color: var(--main-color);
                    width: fit-content;
                    margin: auto;
                    padding: 8px 25px;
                    text-decoration: none;
                    color: white;
                    transition:0.7s;
                    border-radius:2px;
                }
                .pricing .container .pricing-footer a:hover {
                    opacity:0.8;
                    letter-spacing:1px;
                }
    /*END PRICING SECTION*/

    /*START SUBSCRIBE  SECTION*/
.subscribe {
    background-image: url("./Images/subscribe.jpg");
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position:relative;
    color:white;
    display:flex;
}
@media(max-width:1222px) {
    .subscribe {
        flex-direction: column;
    }
}
    .subscribe::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 50%);
        height: 100%;
        width: 100%;
    }
    .subscribe .subscribe-div {
        position:relative;
        margin:auto;
        display:flex;
        left:100px;
        align-items:center;
        border:1px solid white;
    }
@media(max-width:1222px) {
    .subscribe .subscribe-div {
        display:flex;
        left:-30px;
        margin-bottom:20px;
    }
}
        .subscribe .subscribe-div i {
            font-size: 13px;
            position:absolute;
            left:20px;
        }
        
        .subscribe .subscribe-div input[type="email"] {
            padding: 12px 250px 12px 40px;
            text-transform: uppercase;
            font-size: 13px;
            background: none;
        }
            .subscribe .subscribe-div input[type="email"]:focus {
                color: white;
            }
        .subscribe .subscribe-div ::placeholder {
            color:white;
            text-transform:uppercase;
            font-size:12px;
        }
        .subscribe .subscribe-div input[type="submit"] {
            color: white;
            text-decoration: none;
            background-color: var(--main-color);
            padding: 13px 25px;
            font-size: 13px;
            text-transform: uppercase;
            transition: 0.5s;
            border:none;
            cursor:pointer;
        }
        .subscribe .subscribe-div input[type="email"]:focus,
        .subscribe .subscribe-div input[type="submit"]:focus {
            color: white;
            outline:none;
        }
            .subscribe .subscribe-div input[type="submit"]:hover {
                opacity: 0.9;
                letter-spacing: 0.5px;
            }
    .subscribe .text {
        position: relative;
        margin-right:auto;
        width: 350px;
        line-height:2;
        font-size:13px;
    }
@media(max-width:1222px) {
    .subscribe .text {
        display: flex;
        margin:auto;
        text-align: center;
    }
}
    /*END SUBSCRIBE SECTION*/

    /*START CONTACT SECTION*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
    .contact .content {
        display: flex;
        text-align: left;
    }
@media(max-width:1100px) {
    .contact .content {
        flex-direction:column;
    }
}
        .contact .content form {
            display: flex;
            flex-direction:column;
            margin-right:30px;
        }
            .contact .content form > input {
                padding: 15px 550px 15px 10px;
                margin-bottom:30px;
            }
            .contact .content form > textarea {
                padding: 10px 550px 150px 10px;
                margin-bottom: 30px;
            }
            .contact .content form > input:focus,
            .contact .content form > textarea:focus {
                outline:none;
            }
            .contact form ::placeholder {
                text-transform:uppercase;
                font-size:13px;
            }
@media(max-width:1100px) {
    .contact .content .info {
        margin:auto;
    }
}
    .contact .content .info h4 {
        margin-bottom: 25px;
        text-transform:uppercase;
    }
@media(max-width:1100px) {
    .contact .content .info h4 {
        margin-bottom: 10px;
    }
}
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 84px;
    }
@media(max-width:1100px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 22px;
    }
}
    .contact .content .info span,
    .contact .content .info address {
        color:var(--paragraph-color);
        font-size:13px;
    }


            .contact .container > input {
                background-color: var(--main-color);
                border: none;
                color: white;
                padding: 15px 30px;
                display: flex;
                margin: 20px auto 0 auto;
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.5s;
            }
    .contact .container > input:hover {
        opacity:0.8;
        letter-spacing:0.5px;
    }
    /*END CONTACT SECTION*/

    /*START FOOTER SECTION*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./Images/subscribe.jpg");
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
    footer::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(0 0 0 / 50%);
        height: 100%;
        width: 100%;
    }
    footer img {
        position:relative;
        margin-bottom:25px;
    }
    footer h3 {
        position: relative;
        text-transform: uppercase;
        border-bottom: 3px solid white;
        color: white;
        font-weight: normal;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 180px;
        text-align: center;
    }
    footer .icons {
        position:relative;
        color:white;
        text-align:center;
    }
    footer .icons i {
        padding:0 15px;
    }
    footer p {
        position: relative;
        color: white;
        bottom: -70px;
        text-align:center;
        font-weight:bold;
    }
    footer span{
        color:var(--main-color);
    }
    /*END FOOTER SECTION*/